:root{
    --color-primairy: white;
    --color-secondairy: black;
    --color-tertiary: #EF1E20;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-primairy);
}

nav {
    background-color: var(--color-primairy);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}

.nav-left, .nav-link a{
    display: flex;
    text-decoration: none;
    color: var(--color-secondairy);
    margin-left: 1rem;
}

.nav-left #logo{
    min-height: 30px;
    max-height: 50px;
    margin-right: 1rem;
}

.nav-left h1{
    display: none;
}

.nav-right{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right: 1rem;
}

main{
    min-height: 100vh;
}

.menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    font-size: 30px;
    color: var(--color-primairy);
    border-bottom: 1px solid grey;
    background-image: url('images/deepFryer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 1px black;
}

.category-list{
    list-style-type: none;
    min-height: 40px;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.catButton{
    color: var(--color-tertiary);
    background: transparent;
    border: none;
    display: inline;
    white-space: nowrap; 
    margin-left: 1rem;
}

.catButton:hover{
    color: var(--color-primairy);
    background-color: var(--color-tertiary);
    border-radius: 5px;
    padding: 3px;
}

.menu{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin: 1rem;
}

.card{
    display: flex;
    justify-content: space-between;
    height: 150px;
    border: 1px solid var(--color-secondairy);
}

.cardLeft{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardLeft h3{
    border-bottom: 1px solid #EF1E20;
    margin-bottom: 1rem;
}

.cardRight{
    margin: 0;
    width: 40%;
    border-left: 1px solid var(--color-secondairy);
}

.cardImg{
    height: 100%;
    width: 100%;
}



footer{
    text-align: center;
    margin: 1rem;
}
